# This file contains common pin mappings for the 2018 Creality
# Ender 3. To use this config, the firmware should be compiled for the
# AVR atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See the example.cfg file for a description of available parameters.

# Macros 
#[include macros.cfg]
#[include colorchange.cfg]
#[include filamentchange.cfg]
[include leveling.cfg]

# Menu items
[include menu.cfg] 

# Other
[include other.cfg]

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

[stepper_x]
step_pin: PD7
dir_pin: !PC5
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC2
position_endstop: -10
position_min: -10
position_max: 240
homing_speed: 40
second_homing_speed: 5

[stepper_y]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC3
position_endstop: -18
position_min: -18
#position_max: 220
position_max: 195
homing_speed: 30
second_homing_speed: 5

[stepper_z]
step_pin: PB3
dir_pin: PB2
enable_pin: !PA5
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -1

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB1
dir_pin: PB0
enable_pin: !PD6
# Measure 120mm, then extrude 100mm
# G92 E0
# G1 E100 F100
# step_distance = old_e_steps * ((120 - distance_to_mark) / 100)
#step_distance: 0.010526
microsteps: 16
rotation_distance: 24.395
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PD5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA7
#control: pid
#pid_Kp: 25.723
#pid_Ki: 1.383
#pid_Kd: 119.610
min_temp: 0
max_temp: 250
#pressure_advance: 0.15

[heater_bed]
heater_pin: PD4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA6
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 68.829
#pid_Ki: 1.204
#pid_Kd: 983.393
min_temp: 0
max_temp: 130

[fan]
pin: PB4

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1500
max_z_velocity: 5
max_z_accel: 100

#[input_shaper]
#shaper_freq_x: 40
#shaper_freq_y: 35
#shaper_type: mzv

[display]
lcd_type: st7920
cs_pin: PA3
sclk_pin: PA1
sid_pin: PC1
encoder_pins: ^PD2, ^PD3
click_pin: ^!PC0

[bltouch]
sensor_pin: ^PC4
control_pin: PA4
x_offset: -45.5
y_offset: -8.5
#z_offset: 0
pin_move_time: 0.4

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 15,15
#mesh_max: 190,200
mesh_max: 190, 175
probe_count: 5,5
fade_start: 1.0
move_check_distance: 3
mesh_pps: 3,3
algorithm: lagrange
relative_reference_index: 12

#[gcode_macro G29]
#gcode:
#    BED_MESH_CALIBRATE
 
[safe_z_home]
home_xy_position: 155,120
speed: 80.0
z_hop: 10.0
z_hop_speed: 10.0

# Support for gcode arc (G2/G3) commands.
[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.08
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.057500, 0.037500, 0.032500, 0.050000, 0.105000
#*# 	  0.017500, 0.015000, 0.025000, 0.052500, 0.087500
#*# 	  -0.010000, -0.020000, 0.000000, 0.020000, 0.042500
#*# 	  -0.020000, -0.030000, -0.012500, 0.002500, 0.025000
#*# 	  0.020000, -0.007500, 0.017500, 0.032500, 0.070000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 190.0
#*# min_y = 15.0
#*# max_y = 175.0
#*#
#*# [bed_mesh ender3]
#*# version = 1
#*# points =
#*# 	  0.057500, 0.037500, 0.032500, 0.050000, 0.105000
#*# 	  0.017500, 0.015000, 0.025000, 0.052500, 0.087500
#*# 	  -0.010000, -0.020000, 0.000000, 0.020000, 0.042500
#*# 	  -0.020000, -0.030000, -0.012500, 0.002500, 0.025000
#*# 	  0.020000, -0.007500, 0.017500, 0.032500, 0.070000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 190.0
#*# min_y = 15.0
#*# max_y = 175.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.148
#*# pid_ki = 1.799
#*# pid_kd = 118.051
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.038
#*# pid_ki = 1.095
#*# pid_kd = 995.521
